[submodule "third-party/picolibc"]
	path = third_party/picolibc
	url = https://github.com/picolibc/picolibc
[submodule "third_party/riscv-dv"]
	path = third_party/riscv-dv
	url = https://github.com/chipsalliance/riscv-dv
[submodule "third_party/cocotb"]
	path = third_party/cocotb
	url = https://github.com/cocotb/cocotb
[submodule "design/fpu_pivot_accelerator"]
	path = design/fpu_pivot_accelerator
	url = git@github.com:MaxSailor/fpu_pivot_accelerator.git
[submodule "design/cvfpu"]
	path = design/cvfpu
	url = git@github.com:openhwgroup/cvfpu.git
